* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body,
html {
  height: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.-container {
  max-width: 1110px;
  margin: 0 auto;
}

body {
  font-family: "Solway";
}

body.-locked {
  overflow: hidden;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot?ysw3uq");
  src: url("../fonts/icons.eot?ysw3uq#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?ysw3uq") format("truetype"), url("../fonts/icons.woff?ysw3uq") format("woff"), url("../fonts/icons.svg?ysw3uq#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Solway";
  src: url("../fonts/Solway-Light.woff2") format("woff2"), url("../fonts/Solway-Light.woff") format("woff"), url("../fonts/Solway-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Solway";
  src: url("../fonts/Solway-Bold.woff2") format("woff2"), url("../fonts/Solway-Bold.woff") format("woff"), url("../fonts/Solway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.-ibg {
  position: relative;
}

.-ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.-title {
  font-size: 25px;
  font-weight: 600;
}

.-link {
  font-size: 22px;
  line-height: 150%;
  color: rgb(253, 114, 63);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.-link:hover {
  color: rgb(255, 156, 119);
  -webkit-text-decoration: underline solid;
          text-decoration: underline solid;
}

.-introduction {
  font-size: 22px;
  line-height: 125%;
}

.header {
  background-color: rgb(15, 179, 201);
  padding: 10px 0;
}

.header__container {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: center; */
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  /* background-color: red; */
}

.header__list > li:hover .header__link {
  color: rgb(49, 49, 49);
}

.header__list > li {
  padding: 5px 10px;
  background-color: wheat;
  position: relative;
}

.header__link {
  font-size: 16px;
  color: rgb(0, 0, 0);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header__sublist {
  position: absolute;
  top: 100%;
  left: 0;
  width: 225px;
  padding: 10px;
  background-color: rgba(196, 196, 196, 0.959);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header__sublink {
  color: rgb(46, 46, 46);
}

.header__sublist > li:not(li:last-child) {
  margin: 0px 0px 5px 0px;
}

.header__sublist > li {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__sublist > li:hover {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}

.header__sublist > li:hover .header__sublink {
  color: #000;
}

.header__list > li:hover .header__sublist {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.popup {
  z-index: 31;
  background-color: rgba(59, 66, 66, 0.5176470588);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 1px;
  min-height: 100vh;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: rotateX(90deg) translateY(250px);
          transform: rotateX(90deg) translateY(250px);
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
}

.popup.-active {
  -webkit-transform: rotateX(0deg) translateX(0px) translateY(0);
          transform: rotateX(0deg) translateX(0px) translateY(0);
  opacity: 1;
  visibility: visible;
}

.popup__flex {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup__block {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

.popup__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #fff;
  margin: 0px 0px 15px 0px;
}

.popup__close {
  cursor: pointer;
}

.popup__close img {
  width: 64px;
  height: 64px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: rgba(101, 253, 253, 0.349);
}

.chapter-learn {
  margin: 0px 0px 10px 0px;
}

.chapter-learn__subtitle {
  font-size: 30px;
  line-height: 125%;
  font-weight: 600;
}

.chapter-learn__introduction {
  margin: 0px 0px 50px 0px;
}

.block-chapter {
  margin: 0px 0px 50px 0px;
}

.block-chapter__name {
  font-size: 32px;
  line-height: 150%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-chapter__name::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 13px;
          flex: 0 0 13px;
  height: 13px;
  margin: 0px 10px 0px 0px;
  border-radius: 50%;
  background-color: rgb(0, 165, 165);
}

.block-chapter__introduction {
  font-size: 25px;
  text-align: justify;
  margin: 0px 0px 20px 0px;
}

.block-chapter__introduction::first-letter {
  padding: 0px 0px 0px 20px;
}

.block-chapter__introduction p {
  margin: 5px 0px 5px 0px;
  text-align: center;
}

.block-chapter__item {
  margin: 0px 0px 15px 0px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(212, 212, 212);
}

.block-chapter__caption {
  font-size: 28px;
  line-height: 150%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 0px 40px;
}

.block-chapter__caption::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 13px;
          flex: 0 0 13px;
  height: 13px;
  margin: 0px 10px 0px 0px;
  background-color: rgb(10, 116, 1);
  rotate: 45deg;
}

@media (max-width: 1122px) {
  .-container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .-container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .-container {
    max-width: none;
    padding: 0 10px;
  }

  .popup__block {
    padding: 10px;
  }
}